<body>
<title> WoollySheep.com </title> 
 
<p> <h3> Hello, my name is <em> Alice Nee </em> and I am a student. I wanted to start a website to be able to sell my hats. These hats are one of a kind as you can choose the colour, size and style when ordering.  </h3> </p> 
<div id='content'>
<div id='left'>
<form action="/people" method="post">
  <p> Subscribe to our email list: </p>
<input type="text" name="email" />
<input type="submit" id="subscribe" width="100" height="20" />
</form>
<address> 
<p> Contact me on: <a href="mailto:woollysheep22123@gmail.com"> 
woollysheep22123@gmail.com </a> </p>  
</address> 
<p><a href="http://www.facebook.com/WoollySheepcom"> WoollySheep.com - Facebook Page </a></p>
<p><a href="https://twitter.com/#!/WoollySheepcom"> WoollySheep.com - Twitter </a> </p>
</div>
<div id='right'>
<p id = "introduction"> I am designing and selling one of a kind hats. Choose from 3 designs, a range of colours and send me the size to have the one of the kind hat! </p>
<p> The cost of the hats range from <strong>&pound;10-&pound;15</strong> </p>
<p><img src="http://www.teaandcrafting.co.uk/wp-content/uploads/2010/10/Blue_hat_on_white_background-RESIZED.jpg" alt="Beanie Hat" width="100" align="centre"/> 
<img src="http://www.accentwear.com/img/beanie%20hats%20with%20ear%20flaps.jpg" alt="Beanie Hat with ears" width ="100" align="centre"/>
<img src="http://1.bp.blogspot.com/_fmVIH7Hu4Eg/Sm3mbosDDHI/AAAAAAAAABU/gsP5NvdfjSU/s320/Imagen+673-1.jpg" alt="Beret" width="100" align="centre"/> </p>
 
	<p> <ins> Some information about ME! </ins> </p>
	<ol> 
	<li> I am a student who will be heading off to Unversity next year. </li>
	<li> I enjoy playing sports. My main sport is rugby, which I train and play with Saracens.  
	<li> I enjoy crocheting, which I started 5 years ago after being taught by a friend of mine, who was raising money for his ski trips! </li> 
	</div>
</div>

