<html> 
<head> <link href="theme.css" media="screen" rel="stylesheet" type="text/css" /> </head> 
<body> <h1> hello index page </h1>
<p> sunflowers </p>
<p> films and colour </p>
<p><a href= '/page1' >
Go to Page One
</a> </p>
<p> <a href= '/page2' >
Go to Page Two
</a> </p>
<p> <a href= '/page3' >
Go to Page Three
</a> </p> 
</head>
</body> 
