<html> 
 <head>
<link rel="stylesheet" type="text/css"href="theme.css"/>
<link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
</head> 
  <body>
   <div id='header'>
		 <h1> WoollySheep.com </h1>
		 <p><ul class="nav" >
		  <li><a href="/">Home </a></li>
		  <li><a href="/page1">Products </a></li>
		  <li><a href="/page2"> About </a></li>
		  <li><a href="/page3"> Contact </a></li>
		</ul></p>
   </div>
   <div id='page'>
   	<%= yield %>
   </div>
   <div id='footer'>
  <p> CopyRight 2012 </p>
   </div>
</body>
</html>
