<html> 
 <head>
<link rel="stylesheet" type="text/css"href="theme.css"/>
<link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
</head> 
  <body>
   <div id='header'>
		 <h1> WoollySheep.com </h1>
		 <p><ul class="nav" >
		  <li><a href="/">Home </a></li>
		  <li><a href="/page1">About Us </a></li>
		  <li><a href="/page2"> Design Your Hat </a></li>
		  <li><a href="/page3"> Hand Measurement </a></li>
			<li><a href="/page4"> Shop </a></li>
			<li><a href="/page5"> FAQs </a></li>
			<li><a href="/page6"> Check Out </a></li>
		</ul></p>
   </div>
   <div id='page' id='twitter'>
<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
   	<%= yield %>
</div>
<div>
<a href="http://www.facebook.com/WoollySheepcom" target="_TOP" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" title="WoollySheep.com">WoollySheep.com</a><br/><a href="http://www.facebook.com/WoollySheepcom" target="_TOP" title="WoollySheep.com"><img src="http://badge.facebook.com/badge/351283551591091.2296.1233725745.png" style="border: 0px;" /></a><br/><a href="http://www.facebook.com/business/dashboard/" target="_TOP" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" title="Make your own badge!">Promote your Page too</a>
   </div>
   <div id='footer'> 
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 5,
  interval: 30000,
  width: 250,
  height: 300,
  theme: {
    shell: {
      background: '#ffff0a',
      color: '#0f0f0f'
    },
    tweets: {
      background: '#ffffff',
      color: '#050505',
      links: '#071aeb'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    behavior: 'all'
  }
}).render().setUser('WoollySheepcom').start();
</script>
<p> CopyRight 2012 </p>
   </div>
	
</body>
</html>
