<h1> About Us </h1>
<h2> History of WoollySheep.com </h2>
<p> The idea of the website started when I was taught how to crochet by an 18 year old friend. He was making money for his ski trips by selling his crocheted hats to his class mates. I started to do this myself and then decided to set up my own website to design and sell one of a kind hats.</p>
<h2> Contact Details </h2>
<address> 
<p> Contact me on: <a href="mailto:woollysheep22123@gmail.com"> 
woollysheep22123@gmail.com </a> </p>  
</address> 
<p> Call me on: 07906614055 </p>

<h2><a href='http://www.shelter.org.uk/'> Shelter </a></h2>
<p id="shelter">For every hat bought on this site, another hat will be made and given to Shelter. Shelter is a charity that helps people who have become homeless and people who are at risk of becoming homeless.<p>
<img src="<%= @image %>" />
