<div id= "handmeasurement"><h1> Hand Measurement </h1> 
<img src="http://www.copestylin.com/images/hand.png" alt="hand picture" width="300" align="centre"/>
<p>Measure from the palm of the hand to the first bend in the middle finger. This will tell me how large the hat will need to be. </p></div>


