<h1> FAQs </h1>
<h2> How long does the hat take to make? </h2>
<p> The basic "beanie" would take about an hour to make. It would depend on the amount of colours that you want to have in the hat. The other hats would take around a day to make.</p>
<h2> How long does it take to send? </h2>
<p> It would depend on the postage that you would have selected but it should arrive in around 2-3 days after ordering. </p>
<h2> How many colours can I have in the hat? </h2>
<p> You can have as many as you like! </p>
<h2> Why is there a difference in the cost? </h2>
<p> The different costs reflect how much the wool is being used. The larger the hat the more the price will be. </p>

